# Nuxt dev/build outputs
start-nuxt-preview.sh
prisma/prisma/dev.db


.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma
